.user {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.user-container {
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.nav-item {
    flex: 1;
}
